<h1>Hello {{name}}</h1>
<ul>
	<li>{{name}}</li>
	<li>{{age}}</li>
	<li>{{email}}</li>
	<li>{{address.street}} {{address.city}} {{address.state}}</li>
</ul>

<ul>
	<li *ngFor="let hobby of hobbies; let i = index">{{i + 1}} : {{hobby}}
     <button (click)="deleteHobby(i)">X</button>
	</li>
</ul>

<button (click)="onClick()">Cline me</button>

<form (submit)="addHobby(hob.value)">
	<div>
		<label for="">Name</label>
		<input type="text" #hob>
	</div>
</form>
<button (click)="toggleEdit()">是否编辑信息</button>
<div *ngIf="isEdit">
	<h1>编辑信息</h1>
	<form>
		<div>
			<label for="name">姓名：</label>
			<input type="text" [(ngModel)]="name" name="name">
		</div>

		<div>
			<label for="age">年龄：</label>
			<input type="text" [(ngModel)]="age" name="age">
		</div>

		<div>
			<label for="email">邮件：</label>
			<input type="text" [(ngModel)]="email" name="email">
		</div>

		<div>
			<label for="address.street">街道：</label>
			<input type="text" [(ngModel)]="address.street" name="address.street">
		</div>

		<div>
			<label for="address.city">城市：</label>
			<input type="text" [(ngModel)]="address.city" name="address.city">
		</div>

		<div>
			<label for="address.state">区：</label>
			<input type="text" [(ngModel)]="address.state" name="address.state">
		</div>
	</form>
</div>
<hr>
<ul class="list-group">
	<li class="list-group-item" *ngFor="let user of users"> {{user}}</li>
</ul>



